<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Works</title>  

  <link href="./static/main.3f6952e4.css" rel="stylesheet">
  <link href="./static/my.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="Click to go to the home page">01 : Home</a></li>
          <li><a href="./works.html" title="Click to see my projects">02 : Projects</a></li>
          <li><a href="./about.html" title="Click to learn about me">03 : About me</a></li>
          <li><a href="./contact.html" title="Click to contact me">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">02 : Projects</h1>
          <p>Projects I have worked on in computer engineering.</p>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">

                    <div class="col-sm-4">
                      <a href="./kobukirobot.html" title="Click to see my Kobuki Robot Web Interface" class="black-image-project-hover">
                        <img src="./static/assets/images/kobukirobot.jpg" alt="Image of a small robot." class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>November 2025</h4>
                        <h3>Kobuki Web Interface</h3>
                        <p> I created a web interface that controls a Kobuki Robot.</p>
                        <a href="./kobukirobot.html" title="Click to see an indepth explanation of my Kobuki Robot Web Interface" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a href="./ieeerobot.html" title="Click to see my Capstone Project" class="black-image-project-hover">
                        <img src="./static/assets/images/ieeerobot.jpg" alt="Image of a small robot." class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>August 2025</h4>
                        <h3>IEEE Competition Robot</h3>
                        <p> I solely programmed an autonomous robot for the IEEE competition.</p>
                        <a href="./ieeerobot.html" title="Click to see an indepth explanation of IEEE Robot" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" title="Click to see my Senior Design Project" class="black-image-project-hover">
                        <img src="./static/assets/images/work01-hover.jpg" alt="Image of a built circuit on a breadboard." class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>May 2025</h4>
                        <h3>Senior Design</h3>
                        <p> I was a project manager for two senior design projects.</p>
                        <a href="./work.html" title="Click to see an indepth explanation my Senior Design Project" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                </div>
                <!--/row-->
            </div>

          <div class="item">
              <div class="row">
                     <div class="col-sm-4">
                      <a href="./work2.html" title="Click to see my AI Garbage Sorter Project" class="black-image-project-hover">
                        <img src="./static/assets/images/work02-hover.jpg" alt="An image of a motherboard." class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg card2">
                        <h4>April 2025</h4>
                        <h3>AI Garbage Sorter</h3>
                        <p>I trained an AI model to sort trash and recyclables based on images.</p>
                        <a href="./work2.html" title="Click to see an indepth explanation of the AI Garbage Sorter Project." class="btn btn-default">Discover</a>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a href="./work3.html" title="Click to see the Rapsberry Pi Project." class="black-image-project-hover">
                        <img src="./static/assets/images/work03-hover.jpg" alt="Image of a presentation by Mariia Shevchenko about robotics." class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg card3">
                        <h4>February 2023</h4>
                        <h3>Raspberry Pi Hackathon</h3>
                        <p>At the Urban Coders Guild, I created a Raspberry Pi Robot Program for students.</p>
                        <a href="./work3.html" title="Click to see an indepth explanation of the Raspberry Pi Hackathon" class="btn btn-default">Discover</a>
                      </div>
                    </div>
              </div>      
            </div>
            <!--/item-->
            <!-- <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="./static/assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/006</h4>
                      <h3>Nulla scelerisque</h3>
                      <p>Proin pharetra metus id iaculis dignissim. In aliquet lorem ut ex ullamcorper.</p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                    
                </div>
                <--/row-->
            </div> -->
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>